.bulkmessaging {
    width: 30vw;
    background-color: $white;
    box-shadow: 1px 1px 5px rgb(170, 170, 170);

    position: absolute;
    top: 0;
    left: 35%;
    // transform: translate(-50%, 0);
    &  h3 {
        padding: 1rem;
        border-bottom: 1px solid $lightbordercolor;
    }

    &  .bodyy {
        padding: 2rem;
        
        &  select {
            display: block;
            padding: 1rem;
            width: 95%;
            margin: auto;
            border-radius: .5rem;
        }
        &  textarea {
            padding: 1rem;
            height: 12rem;
            display: block;
            width: 95%;
            margin: 2rem auto;
            border-radius: .5rem;
        }

        &  .cta {
            text-align: right;
            margin: 1rem .5rem;

            &  button {
                padding: 1rem 3rem;
                background-color: $secondary-blue;
                color: $white;
                border-radius: .5rem;
                border: none;
            }
        }
    }
}