.reset_password {
    height: 100vh;
    background-color: $light-background;
    padding-top: 10rem;

    &  p {
        text-align: center;
        font-size: 1.5rem;
        margin: 2rem 0;
    }

    &  .form {
        padding: 3rem 2rem;
        border: 1px solid $lightgray;
        margin: auto;
        overflow: hidden;
        width: min-content;
        font-size: 1.5rem;
        background-color: $white;

        &  .heading {
            text-align: center;
            font-size: 3rem;
            font-weight: 400;
        }

        &  .link {
            padding: .5rem;
            margin: 2rem 0;
            font-size: 1.5rem;
            text-align: left;
        }

        &  .heading_small {
            text-align: left;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 3rem;
        }

        &  input {
            padding: 1rem;
            margin: 0 auto;
            font-size: 1.5rem;
            display: block;
            margin-bottom: 2rem;
            margin-top: 1rem;
            width: 30vw;
            @media only screen and (max-width: $bplarge) {
                width: 80vw;
            }

        }
        &  button {
            width: 30vw;
            margin: auto;
            padding: 1.5rem;
            color: $white;
            background-color: $black;
            border: none;
            @media only screen and (max-width: $bplarge) {
                width: 80vw;
            }
        }
    }
}